# uv generic settings
UV_COMPILE_BYTECODE=1
UV_LINK_MODE="copy"

# development environment variables
DEBUG=1
BETTER_EXCEPTIONS=1

# custom repository access tokens (do not forget rename CUSTOM for index name!)
# UV_INDEX_CUSTOM_USERNAME="__token__"
# UV_INDEX_CUSTOM_PASSWORD="gitlab-token"
