.*
.*/
*.egg-info/
__pycache__/

*.py[cdo]

log/*.*
log/errors/*.*

run/*.hist
run/*.pid
run/*.sock

!.zed/

!.dockerignore
!.env.sample
!.envrc
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.mise.toml
!.python-version

!etc/lint/.markdownlint-cli2.jsonc
