__pycache__/
*.py[cdo]
.aider.*
.python-version
uv.lock

log/
run/

_build/
build/
dist/
docs/_build/

.eggs/
*.egg-info/
*.egg

.venv/
.cache/
.tox/
.idea/
.project/
.vscode/
*.code-workspace

.mypy_cache/
.ruff_cache/
.pytest_cache/
.flakeheaven_cache/

supervisord.pid
supervisord.hist
